.LogoWrapper {
  margin-bottom: 40px;
}
.LogoWrapperMenu {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  gap: 4px;
}
.LogoSvg {
  /* stroke: #f9f9f9; */
  fill: #f9f9f9;
}
.LogoTitle {
  display: none;
}
@media screen and (min-width: 768px) {
  .LogoWrapper {
    margin-bottom: 107px;
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .LogoWrapperMenu {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .LogoTitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    display: inline-block;
  }
  .LogoTitle {
    display: inline-block;
  }
}
@media screen and (min-width: 1552px) {
  .LogoWrapper {
    margin-bottom: 107px;
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .LogoWrapperMenu {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .LogoTitle {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    display: inline-block;
  }
}
