.RegTitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.02em;
  max-width: 295px;
  margin-bottom: 20px;
}
.RegTitleSpan {
  color: rgba(227, 227, 227, 0.5);
}
@media screen and (min-width: 768px) {
  .RegTitle {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 64px;
    line-height: 94%;
    letter-spacing: 0.02em;
    color: #f9f9f9;
    max-width: 444px;
  }
}

@media screen and (min-width: 1552px) {
  .RegTitle {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 64px;
    line-height: 94%;
    letter-spacing: 0.02em;
    color: #f9f9f9;
    max-width: 444px;
  }
}
